
*{
	color: white;
	font-family: 'Cinzel', serif;
}
.header{
	margin-top: 5rem;
}
.off-canvas-content{
	max-width: 100%;
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
 	background-attachment: fixed;
}

.pro{
	border-radius: 5% 5% 5% 5%;
	height: 350px;
	width: 500px;
}
.about{
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
 	background-attachment: fixed;
}

.con{
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Cinzel', serif;
}
.row.con{
		max-width: 100%;
		margin: 0 0 0 0;
	}
.link{
	width: 5%;
}	
.jects{
	width: 10%;
}
.des{
	margin-top: 8rem;
}
li{
	list-style: none;
}
.me{
	text-shadow: 1px 1px black;
	color: #F44336;
}
.uldes{
	margin-left: 5rem;
}
.off-canvas{
	background: black;
}
h5{
		font-family: 'Cinzel', serif;
}
h3{
		font-family: 'Cinzel', serif;
}

@media (max-width: 500px) {
	.off-canvas-content{
		font-size: 1.2rem;
		text-align: center;
	}
	.pro{
		height: 250px;
	}
	.jects{
		width: 15%;
	}
	.link{
		width: 15%;
	}
	.uldes{
		margin-left: .1rem;
	}
	.des{
		margin-top: 1rem;
	}
	.me{
		font-size: 1.3rem;
	}
	.title-bar-left{
		font-size: 1.2rem;
		text-align: center;
		height: 5rem;
	}
}
