.class{
	padding-top: 1rem; 
	margin-top: 0;
}
h4{
	padding-bottom: 1rem;
}
#houser{
	text-align: center;
	color: black;
	text-shadow: 1px 1px blue;
	
}
body{
	background-image: url('images/code.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	filter: opacity(50%);
}
header{
	padding: 0;
	margin: 0;
	text-align: center;
	color: white;
}
#me{
	width: 25%;
	height: auto;
	border-radius: 100% 100% 100% 100%;
}
ul{
	list-style-type: none;
	padding: 0;
}
#carousel-example-generic{
	text-align: center;
	height: 25em;
	margin-bottom: 5rem;
	padding-top: 1rem;
	
}
.img{
	border-radius: 10% 10% 10% 10%;
	margin-left: 30%;
	width: 40%;
	height: 20em;
}

.carousel-control.left,.carousel-control.right{
	opacity: 0;
}
.carousel-indicators .active{
	background-color: red;
}